@import "nullstyle.scss";

@font-face {
   font-family: "Futura-light";
   src: url(../../web/fonts/FuturaPT-Light.woff2);
}

@font-face {
   font-family: "Futura-medium";
   src: url(../../web/fonts/FuturaPT-Medium.woff2);
}

@font-face {
   font-family: "Futura-premedium";
   src: url(../../web/fonts/FuturaPT-Book.woff2);
}

@font-face {
   font-family: "Futura-semibold";
   src: url(../../web/fonts/FuturaPT-Demi.woff2);
}

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

:root {
   --line-height: 1.3em;
   --white: #ffffff;
   --2727: #272727;
}

.show {
   opacity: 0;
   transition: 1s;
   animation: show 0.7s 1;
   animation-fill-mode: forwards;
   animation-delay: 0s;

   @keyframes show {
      0% {
         opacity: 0;
      }

      100% {
         opacity: 1;
      }
   }
}

.showWrap {
   transition: 1s;
   animation: showWrap 0.7s 1;
   animation-fill-mode: forwards;
   animation-delay: 0s;

   @keyframes showWrap {
      0% {
         transform: translate(-80%, 0%);
      }

      100% {
         transform: translate(0%, 0%);
      }
   }
}

//=========//hidden//=========================

.wrapper-hidden {
   background-color: var(--2727);
   position: fixed;
   overflow: hidden;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 1;
}

.container-headerHidden {
   width: 1155px;
   margin: 0px auto;
}

.header {
   &__hidden {
      display: flex;
      justify-content: space-between;
      margin: 40px 0 40px 0;
   }
}

.hidden {

   &__logo {
      margin-top: 2px;
   }

   &__menu {
      display: flex;
      justify-content: space-between;
      width: 275px;
   }

   &__burger {
      & img {
         width: 100%;
         cursor: pointer;
         height: 31px;
         width: 37px;
         border: 1px solid transparent;
         padding: 5px;
         transition-duration: 0.4s;

         &:hover {
            border: 1px solid var(--white);
            transition-duration: 0.4s;
         }
      }
   }

   &__footer {
      margin: 50px 0 110px 0;
   }
}

.menu {

   &__elements {
      border: 1px solid transparent;
      width: 140px;
      display: flex;
      justify-content: space-between;
   }
}

.elements {

   &__heart img {
      transition-duration: 0.3s;
      cursor: pointer;
      margin-top: 2px;

      &:hover {
         transform: scale(120%, 120%);
         transition-duration: 0.3s;
      }
   }

   &__man img {
      transition-duration: 0.3s;
      cursor: pointer;
      margin-top: 2px;

      &:hover {
         transform: scale(120%, 120%);
         transition-duration: 0.3s;
      }
   }

   &__lock {
      width: 29px;
      display: flex;
      justify-content: space-between;
      transition-duration: 0.3s;
      margin-top: 2px;

      & img {
         max-width: 17px;
         max-height: 23px;

         &:last-child {
            margin-top: 5px;
            max-width: 10px;
            max-height: 13px;
         }
      }

      cursor: pointer;

      &:hover {
         transform: scale(120%, 120%);
         transition-duration: 0.3s;
      }
   }
}

.container-mainHidden {
   width: 1155px;
   margin: 0px auto;
   display: flex;
   justify-content: space-between;
}

.title5 {
   padding: 20px 0;

   & a {
      font-family: 'Futura-premedium';
      font-size: 16px;
      line-height: var(--line-height);
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white);
      border-bottom: 2px solid transparent;
      padding: 20px 0;
      transition: all ease 0.3s;

      &:hover {
         border-bottom: 2px solid var(--white);
         transition: all ease-in 0.3s;
      }
   }
}

.menu {

   &__hidden {
      display: flex;
      justify-content: space-between;
      width: 800px;
   }
}

.hidden {

   &__forwhom {}

   &__categories {}

   &__material {}

   &__brand {}
}

.forwhom {

   &__title {}

   &__links {}
}

.categories {

   &__title {}

   &__links {}
}

.material {

   &__title {}

   &__links {}
}

.brand {

   &__title {}

   &__links {}
}

.jewelry {
   position: relative;

   &__title {}

   &__menu {
      position: absolute;
      top: 190%;
   }
}

.clock {
   position: relative;

   &__title {}

   &__menu {
      position: absolute;
      left: -550%;
      top: 190%;
   }

   &__menu._change {
      position: absolute;
      left: -271%;
      top: 190%;

   }
}

.flavors {
   position: relative;

   &__title {}

   &__menu {
      position: absolute;
      left: -459%;
      top: 190%;
   }

   &__menu._change {
      position: absolute;
      left: -441%;
      top: 190%;
   }
}

.brands {
   position: relative;

   &__title {}

   &__menu {
      position: absolute;
      left: -1017%;
      top: 190%;
   }

   &__menu._change {
      position: absolute;
      left: -832%;
      top: 190%;
   }
}

.leather {
   position: relative;

   &__title {}

   &__menu {
      position: absolute;
      left: -394%;
      top: 190%;
   }

   &__menu._change {
      position: absolute;
      left: -395%;
      top: 190%;
   }
}

.wedding {
   position: relative;

   &__title {}

   &__menu {
      position: absolute;
      left: -431%;
      top: 190%;
   }

   &__menu._change {
      position: absolute;
      left: -420%;
      top: 190%;
   }
}

.other {
   position: relative;

   &__title {}

   &__menu {
      position: absolute;
      left: -1868%;
      top: 190%;
   }

   &__menu._change {
      position: absolute;
      left: -2205%;
      top: 190%;
   }
}

.spisok {
   &__hidden {
      background: #2F2F2F;
   }
}

.sections {
   height: 400px;
   background-color: var(--2727);
   border-bottom: 1.8px solid #2F2F2F;
   margin: 0 84px 95px 84px;
}

.forwhom {

   &__title {}

   &__links {}
}

.title4 {
   margin-bottom: 30px;
   font-family: 'Futura-semibold';
   font-size: 16px;
   line-height: var(--line-height);
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--white);
}

.links {
   & a {
      font-family: 'Futura-premedium';
      font-size: 18px;
      line-height: var(--line-height);
      letter-spacing: 0.06em;
      color: var(--white);

      &:first-child {
         margin-top: 0px;
      }

      & p {
         margin-top: 15px;
      }

      &:hover {
         color: #EFC58B;
      }
   }
}

.categories {

   &__title {}

   &__links {}
}

.material {

   &__title {}

   &__links {}
}

.brand {

   &__title {}

   &__links a:last-child {
      font-family: 'Segoe UI';
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      line-height: var(--line-height);
      color: #EFC58B;

      &:hover {
         color: var(--white)
      }
   }
}

.container-footerHidden {
   display: flex;
   width: 1185px;
   margin: 0px auto;
   border-top: 1.8px solid #2F2F2F;
   padding-top: 50px;
}

.footer {

   &__image {
      background: url(../img/footer-image.png) 50%/cover no-repeat;
      height: 280px;
      width: 740px;
   }

   &__info {
      margin-left: 85px;
      height: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
}

.image-container {
   width: 650px;
   margin: 0px auto;
}

.image {

   &__title {
      text-align: left;
      padding-top: 30px;
      font-family: 'Futura-premedium';
      font-size: 18px;
      line-height: var(--line-height);
      letter-spacing: 0.06em;
      color: var(--white);
   }

   &__maintitle {
      text-align: center;
      font-family: 'Forum';
      font-size: 48px;
      line-height: 1.1em;
      letter-spacing: 0.03em;
      color: var(--white);
      margin: 55px 0;
   }

   &__collections {
      display: flex;
      justify-content: flex-end;

      & p {
         font-family: 'Futura-premedium';
         font-size: 18px;
         line-height: var(--line-height);
         letter-spacing: 0.06em;
         color: var(--white);
      }

      & a {
         font-family: 'Futura-premedium';
         font-size: 18px;
         line-height: var(--line-height);
         letter-spacing: 0.06em;
         color: var(--white);
      }

      & button {
         margin-left: 23px;
         background-color: transparent;

         & img {
            padding-top: 2px;
            width: 31px;
            height: 17px;
         }
      }

   }
}

.info {

   &__top {
      display: flex;
      flex-direction: column;

      & a {

         font-family: 'Futura-light';
         font-size: 18px;
         line-height: var(--line-height);
         color: #C2C2C2;
      }
   }

   &__down {
      height: 30px;
   }

   &__stores {
      & img {
         width: 103px;
         height: 35px;
         transition-duration: 0.3s;

         &:hover {
            transform: scale(120%);
            transition-duration: 0.3s;
         }
      }
   }
}

.top {

   &__phone {}

   &__social {
      width: 90px;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      & a {
         transition-duration: 0.3s;
      }

      & a:hover {
         transform: scale(120%);
         transition-duration: 0.3s;
      }
   }
}

.down {

   &__subscribe {}

   &__input {
      display: flex;
      width: 275px;
      border-bottom: 1px solid var(--white);

      & button {
         margin-bottom: 2px;

         & img {
            width: 30px;
            height: 17px;
         }

         background-color: var(--2727);
      }

      & input {
         background-color: var(--2727);
         font-family: 'Futura-light';
         width: 245px;
         font-size: 18px;
         line-height: var(--line-height);
         color: var(--white);
         margin-bottom: 8px;

         &::placeholder {
            font-family: 'Futura-light';
            font-size: 22px;
            line-height: var(--line-height);
            color: #959595;
         }
      }
   }
}

//=========//begin//======================
html {
   scroll-behavior: smooth;
}

.begin {
   display: flex;
   position: relative;
}

.container-left {
   width: 735px;
   margin: 0px auto;
}

.container-right {
   width: 270px;
   margin: 0px auto;
}

.begin-right {
   width: 610px;
   height: 1124px;
   background-color: #272727;

   &__down {
      margin-top: 898px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }
}

.header {
   position: relative;
   margin-top: 40px;
   display: flex;
   justify-content: space-between;

   &__menu {
      border: 1px solid transparent;
      width: 140px;
      display: flex;
      justify-content: space-between;
      margin-top: -5px;
   }

   &__burger {
      cursor: pointer;
      border: 1px solid transparent;
      padding: 5px;
      transition-duration: 0.4s;

      &:hover {
         border: 1px solid var(--white);
         transition-duration: 0.4s;
      }
   }
}

.ring {
   position: absolute;
   left: 55%;
   top: 40%;
}

.menu {

   &__heart img {
      transition-duration: 0.3s;
      cursor: pointer;
      margin-top: 7px;

      &:hover {
         transform: scale(120%, 120%);
         transition-duration: 0.3s;
      }
   }

   &__man img {
      transition-duration: 0.3s;
      cursor: pointer;
      margin-top: 7px;

      &:hover {
         transform: scale(120%, 120%);
         transition-duration: 0.3s;
      }
   }

   &__lock {
      width: 29px;
      display: flex;
      justify-content: space-between;
      transition-duration: 0.3s;
      margin-top: 7px;

      & img {
         max-width: 17px;
         max-height: 23px;

         &:last-child {
            margin-top: 5px;
            max-width: 10px;
            max-height: 13px;
         }
      }

      cursor: pointer;

      &:hover {
         transform: scale(120%, 120%);
         transition-duration: 0.3s;
      }
   }
}

.title3 {
   margin-bottom: 9px;
   font-family: 'Futura-medium';
   font-size: 16px;
   line-height: var(--line-height);
   color: var(--white);
   text-transform: uppercase;
}

.subtitle {
   margin-bottom: 9px;
   font-family: 'Futura-light';
   font-size: 18px;
   line-height: var(--line-height);
   color: #C2C2C2;
}

.price {
   font-family: 'Segoe UI';
   font-style: italic;
   font-weight: 300;
   font-size: 18px;
   line-height: var(--line-height);
   color: #EFC58B;
}

.begin-left {
   width: 1440px;
   height: 1164px;
   background-color: var(--white);

   &__logo {
      margin-top: 41px;
      display: flex;
      justify-content: flex-start;
   }

   &__title {
      text-align: left;
      margin: 435px 0 66px 0;
      font-family: 'Forum';
      font-size: 64px;
      line-height: 1.11em;
      letter-spacing: 0.03em;
      color: var(--2727);
   }

   &__subtitle {
      margin-left: 195px;
      width: 346px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-style: italic;
   }

   &__lang {
      width: 55px;
      margin-top: 365px;
      display: flex;
      justify-content: space-between;
   }
}

.lang {
   &__ru {
      font-family: 'Futura-medium';
      font-size: 16px;
      line-height: var(--line-height);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background-color: transparent;
      color: #C4C4C4;
      cursor: pointer;

      &:hover {
         color: var(--2727);
      }
   }

   &__eng {
      font-family: 'Futura-medium';
      font-size: 16px;
      line-height: var(--line-height);
      letter-spacing: 0.05em;
      text-transform: uppercase;
      background-color: transparent;
      color: #C4C4C4;
      cursor: pointer;

      &:hover {
         color: var(--2727);
      }
   }
}

._langSelected {
   color: var(--2727);
}

.subtitle {

   &__line {
      width: 130px;
      height: 1px;
      border: 1px solid var(--2727);
   }

   &__text a {
      font-family: 'Segoe UI';
      font-style: italic;
      font-weight: 300;
      font-size: 18px;
      line-height: var(--line-height);
      color: var(--2727);
      border: 2px solid transparent;
      transition: all ease 0.3s;
      padding: 2px;

      &:hover {
         border: 2px solid #272727;
         transition: all ease 0.3s;
      }
   }
}


//================//for//========================

.for {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;

   &__men {
      width: 775px;
      height: 587px;
      background: url(../img/for\ men.png) 50%/cover no-repeat;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition-duration: 0.3s;

      &:hover {
         opacity: 0.7;
         transition-duration: 0.3s;
      }
   }

   &__women {
      width: 775px;
      height: 587px;
      background: url(../img/for\ women.png) 50%/cover no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition-duration: 0.3s;

      &:hover {
         opacity: 0.7;
         transition-duration: 0.3s;
      }
   }
}

.subtitle {
   font-family: 'Futura-light';
   font-size: 24px;
   line-height: var(--line-height);
   color: var(--white);
}

.title {
   font-family: 'Forum';
   font-size: 64px;
   line-height: 1.1em;
   letter-spacing: 0.03em;
   color: var(--white);
   margin-bottom: 23px;
}

.underline {
   width: 130px;
   height: 1px;
   border: 1px solid var(--white);
}

//=========//map//=====================

.map {
   display: flex;
   height: 604px;
   margin-bottom: 20px;

   &__info {
      width: 1100px;
      height: 604px;
      background-color: var(--2727);
      display: flex;
      align-items: center;
   }

   &__location {
      position: relative;
   }
}

.container-map {
   width: 388px;
   margin: 0px auto;
}

.info {

   &__title {
      font-family: 'Forum';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 1.1em;
      letter-spacing: 0.03em;
      color: var(--white);
   }

   &__subtitle {
      font-family: 'Futura-light';
      font-size: 18px;
      line-height: var(--line-height);
      color: var(--white);
      margin: 16px 0 60px 0;
   }

   &__inputs {
      width: 386px;
      border-bottom: 1px solid var(--white);
      display: flex;
      justify-content: space-between;

      & input {
         width: 360px;
         background-color: var(--2727);
         font-family: 'Futura-light';
         font-size: 18px;
         line-height: var(--line-height);
         color: var(--white);
         margin-bottom: 8px;

         &::placeholder {
            font-family: 'Futura-light';
            font-size: 18px;
            line-height: var(--line-height);
            color: rgba(255, 255, 255, 0.4);
         }
      }

      & button {
         background-color: var(--2727);
         margin-bottom: 3px;
      }
   }
}

.location {
   &__point {
      position: absolute;
      left: 13%;
      top: 25.5%;
      cursor: pointer;

      & img {
         &:hover {
            background-image: url(../img/selected\ point\ map.svg);
         }
      }

      & p {
         position: absolute;
         width: 165px;
         height: 43px;
         left: 90%;
         top: -79%;
         background: rgba(103, 103, 103, 0.58);
         border-radius: 2px;
         font-family: 'Futura-light';
         padding: 8px;
         text-align: center;
         font-size: 18px;
         line-height: var(--line-height);
         color: var(--white);
      }
   }

   &__point2 {
      position: absolute;
      left: 36.8%;
      top: 30%;
      cursor: pointer;

      & img {
         &:hover {
            background-image: url(../img/selected\ point\ map.svg);
         }
      }

      & p {
         position: absolute;
         width: 134px;
         height: 43px;
         left: 90%;
         top: -79%;
         background: rgba(103, 103, 103, 0.58);
         border-radius: 2px;
         font-family: 'Futura-light';
         padding: 8px;
         text-align: center;
         font-size: 18px;
         line-height: var(--line-height);
         color: var(--white);
      }
   }


   &__point3 {
      position: absolute;
      left: 37%;
      top: 68%;
      cursor: pointer;

      & img {
         &:hover {
            background: url(../img/selected\ point\ map.svg);
         }
      }

      & p {
         position: absolute;
         width: 134px;
         height: 43px;
         left: 90%;
         top: -79%;
         background: rgba(103, 103, 103, 0.58);
         border-radius: 2px;
         font-family: 'Futura-light';
         padding: 8px;
         text-align: center;
         font-size: 18px;
         line-height: var(--line-height);
         color: var(--white);
      }
   }

   &__point4 {
      position: absolute;
      left: 51.7%;
      top: 39%;
      cursor: pointer;

      & img {
         &:hover {
            background-image: url(../img/selected\ point\ map.svg);
         }
      }

      & p {
         position: absolute;
         width: 170px;
         height: 43px;
         left: 90%;
         top: -79%;
         background: rgba(103, 103, 103, 0.58);
         border-radius: 2px;
         font-family: 'Futura-light';
         padding: 8px;
         text-align: center;
         font-size: 18px;
         line-height: var(--line-height);
         color: var(--white);
      }
   }

   &__point5 {
      position: absolute;
      left: 65.4%;
      top: 60.4%;
      cursor: pointer;

      & img {
         &:hover {
            background-image: url(../img/selected\ point\ map.svg);

         }
      }

      & p {
         position: absolute;
         width: 200px;
         height: 43px;
         left: 90%;
         top: -79%;
         background: rgba(103, 103, 103, 0.58);
         border-radius: 2px;
         font-family: 'Futura-light';
         padding: 8px;
         text-align: center;
         font-size: 18px;
         line-height: var(--line-height);
         color: var(--white);
      }
   }
}


//==========//products//=================
.products {
   display: flex;
   margin-bottom: 20px;

   &__rings {
      display: flex;
      flex-direction: column;
   }

   &__necklace {
      background: url(../img/necklace.png) 50%/cover no-repeat;
      margin: 0 10px;
      width: 823px;
      display: flex;
      align-items: flex-end;
      cursor: pointer;

      &:hover {
         opacity: 0.7;
      }

   }

   &__earrings {
      display: flex;
      flex-direction: column;
   }
}

.rings {

   &__silver {
      background-color: #EDEDED;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 375px;
      height: 400px;
      margin-bottom: 20px;
      cursor: pointer;

      &:hover {
         opacity: 0.7;
      }

      & img {
         max-width: 100%;
         margin-bottom: 70px;
      }

   }

   &__gold {
      background-color: #EDEDED;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 375px;
      height: 400px;
      cursor: pointer;

      &:hover {
         opacity: 0.7;
      }

      & img {
         max-width: 100%;
         margin-bottom: 70px;
      }
   }
}

.silver {

   &__title {
      color: var(--2727);
   }

   &__subtitle {
      color: #757575;
   }

   &__price {
      color: #E2B67A;
   }
}

.silver-container {
   width: 310px;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.gold {

   &__title {
      color: var(--2727);
   }

   &__subtitle {
      color: #757575;
   }

   &__price {
      color: #E2B67A;
   }
}

.gold-container {
   width: 310px;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.necklace {

   &__title {}

   &__subtitle {
      color: #E7E7E7;
   }

   &__price {
      margin-bottom: 34px;
   }
}

.necklace-container {
   width: 450px;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.earrings {

   &__moon {
      background-color: #EDEDED;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 375px;
      height: 400px;
      margin-bottom: 20px;
      cursor: pointer;

      &:hover {
         opacity: 0.7;
      }

      & img {
         max-width: 100%;
         margin-top: -75px;
      }

   }

   &__win {
      background-color: #EDEDED;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 375px;
      height: 400px;
      cursor: pointer;

      &:hover {
         opacity: 0.7;
      }

      & img {
         max-width: 100%;
         margin-top: -75px;
      }
   }
}

.moon {
   &__title {
      color: var(--2727);
   }

   &__subtitle {
      color: #757575;
   }

   &__price {
      color: #E2B67A;
   }
}

.moon-container {
   width: 310px;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.win {

   &__title {
      color: var(--2727);
   }

   &__subtitle {
      color: #757575;
   }

   &__price {
      color: #E2B67A;
   }
}

.win-container {
   width: 310px;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}






//==========//sliderpage//================

.sliderpage {
   background-color: var(--2727);

   &__title {
      width: 515px;
      padding-top: 100px;
      margin: 0 0 80px 162px;
      font-family: 'Forum';
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 1.1em;
      letter-spacing: 0.03em;
      color: var(--white);
   }

   &__slider {
      overflow: hidden;
   }

   &__down {
      width: 1116px;
      display: flex;
      justify-content: space-between;
      margin: 0px auto;
   }
}

.sliderpage-slider-container {
   display: flex;
   position: relative;
   left: 0;
   transition-duration: 0.3s;
}

.slider {

   &__item {
      margin: 0 23px;

      & img {
         display: block;
      }
   }
}

.down {
   &__social {
      width: 90px;
      display: flex;
      justify-content: space-between;
      margin: 83px 0 103px 0;

   }

   &__pagination {
      width: 335px;
      display: flex;
      justify-content: space-between;
      margin: 83px 0 103px 0;

      & button {
         background-color: var(--2727);
      }
   }
}

.pagination {
   &__prev._disabled {
      opacity: 0.2;
   }
}


.social {
   &__facebook {
      transition-duration: 0.3s;

      &:hover {
         transform: scale(120%);
         transition-duration: 0.3s;
      }

   }

   &__instagram {
      transition-duration: 0.3s;

      &:hover {
         transform: scale(120%);
         transition-duration: 0.3s;
      }

   }
}

.pagination {
   &__dots {
      display: flex;
      width: 125px;
      align-items: center;
      justify-content: space-between;
   }
}

.dots {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: #656565;
}

.dots._active {
   width: 9px;
   height: 9px;
   background: var(--white);
}

//============//contacts//==========================
.title1 {
   font-family: 'Futura-medium';
   font-size: 18px;
   line-height: var(--line-height);
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: var(--2727);
}

.contacts {
   display: flex;
   align-items: center;
   height: 640px;

   &__image {}

   &__info {
      width: 1100px;
   }
}

.container-info {
   width: 390px;
   margin: 0px auto;
}

.info {

   &__column {
      display: flex;
      height: 350px;
      flex-direction: column;
      justify-content: space-between;
   }
}

.column {

   &__phone {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 80px;
   }

   &__email {
      height: 80px;

      & button {
         background-color: transparent;
      }
   }
}

.phone {

   &__title {}

   &__number a {
      font-family: 'Futura-light';
      font-size: 22px;
      line-height: var(--line-height);
      color: #959595;
      transition-duration: 0.4s;

      &:hover {
         color: var(--2727);
         transition-duration: 0.4s;
      }
   }
}

.email {
   &__title {}

   &__input {
      display: flex;
      justify-content: space-between;
      width: 280px;
      margin-top: 30px;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--2727);

      & input {
         font-family: 'Futura-medium';
         width: 245px;
         font-size: 22px;
         line-height: var(--line-height);
         color: var(--2727);
      }

      & ::placeholder {
         font-family: 'Futura-light';
         font-size: 22px;
         line-height: var(--line-height);
         color: #959595;
      }
   }

}

//==========//footer//===========================

.title2 {
   font-family: 'Futura-medium';
   font-size: 14px;
   line-height: var(--line-height);
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: var(--white);
   margin-bottom: 15px;
}

.footer {
   background-color: var(--2727);

   &__up {}

   &__down {
      display: flex;
      justify-content: space-between;
      padding-bottom: 90px;
   }
}

.container-footer {
   width: 1120px;
   margin: 0px auto;
}

.up {

   &__menu {
      padding: 80px 0 90px 0;
      display: flex;
      justify-content: space-between;
   }
}

.menu {

   &__li {
      font-family: 'Futura-premedium';
      font-size: 14px;
      line-height: var(--line-height);
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--white);
      transition-duration: 0.3s;
      cursor: pointer;

      &:hover {
         color: black;
         transition-duration: 0.3s;
      }
   }
}

.down {

   &__logo {
      display: flex;
      align-items: center;
   }

   &__infolink {
      width: 600px;
      display: flex;
      justify-content: space-between;
   }
}

.infolink {
   &__title {}

   &__info {
      display: flex;
      flex-direction: column;

      & a {
         margin-top: 5px;
         font-family: 'Futura-light';
         font-size: 18px;
         line-height: var(--line-height);
         color: #C2C2C2;
      }
   }

   &__inputApp {}
}

.inputApp {
   &__input {
      display: flex;
      width: 275px;
      border-bottom: 1px solid var(--white);

      & button {
         margin-bottom: 2px;

         & img {
            width: 30px;
            height: 17px;
         }

         background-color: var(--2727);
      }

      & input {
         background-color: var(--2727);
         font-family: 'Futura-light';
         width: 245px;
         font-size: 18px;
         line-height: var(--line-height);
         color: var(--white);
         margin-bottom: 8px;

         &::placeholder {
            font-family: 'Futura-light';
            font-size: 22px;
            line-height: var(--line-height);
            color: #959595;
         }
      }
   }

   &__links {
      margin-top: 20px;

      & img {
         width: 103px;
         height: 35px;
         transition-duration: 0.3s;

         &:hover {
            transform: scale(120%);
            transition-duration: 0.3s;
         }
      }
   }
}

.info {

   &__title {}

   &__webs {
      width: 90px;
      display: flex;
      justify-content: space-between;
      margin-top: 18px;

      & a {
         transition-duration: 0.3s;
      }

      & a:hover {
         transform: scale(120%);
         transition-duration: 0.3s;
      }
   }
}

//======================================
@media (max-width:1250px) {
   .ring {
      left: 60%;
   }

   .for {
      &__men {
         width: 550px;
      }

      &__women {
         width: 550px;
      }
   }
}

@media (min-width:1251px) {

   .for {
      &__men {
         width: 570px;
      }

      &__women {
         width: 570px;
      }
   }
}

@media (min-width:1300px) {
   .for {
      &__men {
         width: 600px;
      }

      &__women {
         width: 600px;
      }
   }
}

@media (min-width:1370px) {
   .for {
      &__men {
         width: 640px;
      }

      &__women {
         width: 640px;
      }
   }

   .products__necklace {
      background: url(../img/necklace.png) 50%/contain no-repeat;
      width: 850px;
   }
}

@media (min-width:1415px) {
   .for {
      &__men {
         width: 675px;
      }

      &__women {
         width: 675px;
      }
   }
}

@media(min-width:1480px) {
   .rings__gold {
      width: 433px;
   }

   .rings__silver {
      width: 433px;
   }

   .earrings__moon {
      width: 433px;
   }

   .earrings__win {
      width: 433px;
   }
}

@media (min-width:1530px) {
   .ring {
      left: 60%;
   }

   .for {
      &__men {
         width: 750px;
      }

      &__women {
         width: 750px;
      }
   }

}

@media (min-width:1660px) {
   .for {
      &__men {
         width: 800px;
      }

      &__women {
         width: 800px;
      }
   }

   .rings__gold {
      width: 465px;
   }

   .rings__silver {
      width: 465px;
   }

   .earrings__moon {
      width: 465px;
   }

   .earrings__win {
      width: 465px;
   }
}