@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "Futura-light";
  src: url(../../web/fonts/FuturaPT-Light.woff2);
}
@font-face {
  font-family: "Futura-medium";
  src: url(../../web/fonts/FuturaPT-Medium.woff2);
}
@font-face {
  font-family: "Futura-premedium";
  src: url(../../web/fonts/FuturaPT-Book.woff2);
}
@font-face {
  font-family: "Futura-semibold";
  src: url(../../web/fonts/FuturaPT-Demi.woff2);
}
:root {
  --line-height: 1.3em;
  --white: #ffffff;
  --2727: #272727;
}

.show {
  opacity: 0;
  transition: 1s;
  -webkit-animation: showHidden 1s 1;
          animation: showHidden 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes showHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.begin {
  display: flex;
  position: relative;
}

.container-left {
  width: 747px;
  margin: 0px auto;
}

.container-right {
  width: 265px;
  margin: 0px auto;
}

.begin-right {
  width: 610px;
  height: 1124px;
  background-color: #272727;
}
.begin-right__down {
  margin-top: 898px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header {
  position: relative;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.header__menu {
  border: 1px solid transparent;
  width: 140px;
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}
.header__burger {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 5px;
  transition-duration: 0.4s;
}
.header__burger:hover {
  border: 1px solid var(--white);
  transition-duration: 0.4s;
}

.ring {
  position: absolute;
  left: 55%;
  top: 45%;
}

.menu__heart img {
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 7px;
}
.menu__heart img:hover {
  transform: scale(120%, 120%);
  transition-duration: 0.3s;
}
.menu__man img {
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 7px;
}
.menu__man img:hover {
  transform: scale(120%, 120%);
  transition-duration: 0.3s;
}
.menu__lock {
  width: 29px;
  display: flex;
  justify-content: space-between;
  transition-duration: 0.3s;
  margin-top: 7px;
  cursor: pointer;
}
.menu__lock img {
  max-width: 17px;
  max-height: 23px;
}
.menu__lock img:last-child {
  margin-top: 5px;
  max-width: 10px;
  max-height: 13px;
}
.menu__lock:hover {
  transform: scale(120%, 120%);
  transition-duration: 0.3s;
}

.title3 {
  margin-bottom: 9px;
  font-family: "Futura-medium";
  font-size: 16px;
  line-height: var(--line-height);
  color: var(--white);
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 9px;
  font-family: "Futura-light";
  font-size: 18px;
  line-height: var(--line-height);
  color: #C2C2C2;
}

.price {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: var(--line-height);
  color: #EFC58B;
}

.begin-left {
  width: 1440px;
  height: 1164px;
  background-color: var(--white);
}
.begin-left__logo {
  margin-top: 41px;
  display: flex;
  justify-content: flex-start;
}
.begin-left__title {
  text-align: left;
  margin: 435px 0 66px 0;
  font-family: "Forum";
  font-size: 64px;
  line-height: 1.11em;
  letter-spacing: 0.03em;
  color: var(--2727);
}
.begin-left__subtitle {
  margin-left: 195px;
  width: 346px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}
.begin-left__lang {
  width: 55px;
  margin-top: 365px;
  display: flex;
  justify-content: space-between;
}

.lang__ru {
  font-family: "Futura-medium";
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--2727);
  cursor: pointer;
}
.lang__eng {
  font-family: "Futura-medium";
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #C4C4C4;
  cursor: pointer;
}
.lang__eng:hover {
  color: var(--2727);
}

.subtitle__line {
  width: 130px;
  height: 1px;
  border: 1px solid var(--2727);
}
.subtitle__text a {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--2727);
  border: 2px solid transparent;
  transition: all ease 0.3s;
  padding: 2px;
}
.subtitle__text a:hover {
  border: 2px solid #272727;
  transition: all ease 0.3s;
}

.wrapper-hidden {
  background-color: var(--2727);
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.container-headerHidden {
  width: 1185px;
  margin: 0px auto;
}

.header__hidden {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 0;
}

.hidden__logo {
  margin-top: 2px;
}
.hidden__menu {
  display: flex;
  justify-content: space-between;
  width: 260px;
}
.hidden__burger img {
  width: 100%;
  cursor: pointer;
  height: 31px;
  width: 37px;
  border: 1px solid transparent;
  padding: 5px;
  transition-duration: 0.4s;
}
.hidden__burger img:hover {
  border: 1px solid var(--white);
  transition-duration: 0.4s;
}
.hidden__footer {
  margin: 50px 0 110px 0;
}

.menu__elements {
  border: 1px solid transparent;
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.elements__heart img {
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 2px;
}
.elements__heart img:hover {
  transform: scale(120%, 120%);
  transition-duration: 0.3s;
}
.elements__man img {
  transition-duration: 0.3s;
  cursor: pointer;
  margin-top: 2px;
}
.elements__man img:hover {
  transform: scale(120%, 120%);
  transition-duration: 0.3s;
}
.elements__lock {
  width: 29px;
  display: flex;
  justify-content: space-between;
  transition-duration: 0.3s;
  margin-top: 2px;
  cursor: pointer;
}
.elements__lock img {
  max-width: 17px;
  max-height: 23px;
}
.elements__lock img:last-child {
  margin-top: 5px;
  max-width: 10px;
  max-height: 13px;
}
.elements__lock:hover {
  transform: scale(120%, 120%);
  transition-duration: 0.3s;
}

.container-mainHidden {
  width: 1185px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.title5 {
  padding: 20px 0;
}
.title5 a {
  font-family: "Futura-premedium";
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  border-bottom: 2px solid transparent;
  padding: 20px 0;
  transition: all ease 0.3s;
}
.title5 a:hover {
  border-bottom: 2px solid var(--white);
  transition: all ease-in 0.3s;
}

.jewelry {
  position: relative;
}
.jewelry__menu {
  position: absolute;
  top: 190%;
}

.menu__hidden {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.clock {
  position: relative;
}
.clock__menu {
  position: absolute;
  left: -562%;
  top: 190%;
}

.flavours {
  position: relative;
}
.flavours__menu {
  position: absolute;
  left: -472%;
  top: 190%;
}

.brands {
  position: relative;
}
.brands__menu {
  position: absolute;
  left: -1047%;
  top: 190%;
}

.leather {
  position: relative;
}
.leather__menu {
  position: absolute;
  left: -406.7%;
  top: 190%;
}

.wedding {
  position: relative;
}
.wedding__menu {
  position: absolute;
  left: -443.5%;
  top: 190%;
}

.other {
  position: relative;
}
.other__menu {
  position: absolute;
  left: -1916.7%;
  top: 190%;
}

.spisok__hidden {
  background: #2F2F2F;
}

.sections {
  height: 400px;
  background-color: var(--2727);
  border-bottom: 1.8px solid #2F2F2F;
  margin: 0 84px 95px 84px;
}

.title4 {
  margin-bottom: 30px;
  font-family: "Futura-semibold";
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

.links a {
  font-family: "Futura-premedium";
  font-size: 18px;
  line-height: var(--line-height);
  letter-spacing: 0.06em;
  color: var(--white);
}
.links a:first-child {
  margin-top: 0px;
}
.links a p {
  margin-top: 15px;
}
.links a:hover {
  color: #EFC58B;
}

.brand__links a:last-child {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: var(--line-height);
  color: #EFC58B;
}
.brand__links a:last-child:hover {
  color: var(--white);
}

.container-footerHidden {
  display: flex;
  width: 1185px;
  margin: 0px auto;
  border-top: 1.8px solid #2F2F2F;
  padding-top: 50px;
}

.footer__image {
  background: url(../img/footer-image.png) 50%/cover no-repeat;
  height: 280px;
  width: 740px;
}
.footer__info {
  margin-left: 85px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-container {
  width: 650px;
  margin: 0px auto;
}

.image__title {
  text-align: left;
  padding-top: 30px;
  font-family: "Futura-premedium";
  font-size: 18px;
  line-height: var(--line-height);
  letter-spacing: 0.06em;
  color: var(--white);
}
.image__maintitle {
  text-align: center;
  font-family: "Forum";
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: 0.03em;
  color: var(--white);
  margin: 55px 0;
}
.image__collections {
  display: flex;
  justify-content: flex-end;
}
.image__collections p {
  font-family: "Futura-premedium";
  font-size: 18px;
  line-height: var(--line-height);
  letter-spacing: 0.06em;
  color: var(--white);
}
.image__collections a {
  font-family: "Futura-premedium";
  font-size: 18px;
  line-height: var(--line-height);
  letter-spacing: 0.06em;
  color: var(--white);
}
.image__collections button {
  margin-left: 23px;
  background-color: transparent;
}
.image__collections button img {
  padding-top: 2px;
  width: 31px;
  height: 17px;
}

.info__top {
  display: flex;
  flex-direction: column;
}
.info__top a {
  font-family: "Futura-light";
  font-size: 18px;
  line-height: var(--line-height);
  color: #C2C2C2;
}
.info__down {
  height: 30px;
}
.info__stores img {
  width: 103px;
  height: 35px;
  transition-duration: 0.3s;
}
.info__stores img:hover {
  transform: scale(120%);
  transition-duration: 0.3s;
}

.top__social {
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.top__social a {
  transition-duration: 0.3s;
}
.top__social a:hover {
  transform: scale(120%);
  transition-duration: 0.3s;
}

.down__input {
  display: flex;
  width: 275px;
  border-bottom: 1px solid var(--white);
}
.down__input button {
  margin-bottom: 2px;
  background-color: var(--2727);
}
.down__input button img {
  width: 30px;
  height: 17px;
}
.down__input input {
  background-color: var(--2727);
  font-family: "Futura-light";
  width: 245px;
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
  margin-bottom: 8px;
}
.down__input input::-moz-placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}
.down__input input:-ms-input-placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}
.down__input input::placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}

.for {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.for__men {
  width: 775px;
  height: 587px;
  background: url(../img/for\ men.png) 50%/cover no-repeat;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
.for__men:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}
.for__women {
  width: 775px;
  height: 587px;
  background: url(../img/for\ women.png) 50%/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
.for__women:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
}

.subtitle {
  font-family: "Futura-light";
  font-size: 24px;
  line-height: var(--line-height);
  color: var(--white);
}

.title {
  font-family: "Forum";
  font-size: 64px;
  line-height: 1.1em;
  letter-spacing: 0.03em;
  color: var(--white);
  margin-bottom: 23px;
}

.underline {
  width: 130px;
  height: 1px;
  border: 1px solid var(--white);
}

.map {
  display: flex;
  height: 604px;
  margin-bottom: 20px;
}
.map__info {
  width: 1100px;
  height: 604px;
  background-color: var(--2727);
  display: flex;
  align-items: center;
}
.map__location {
  position: relative;
}

.container-map {
  width: 388px;
  margin: 0px auto;
}

.info__title {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: 0.03em;
  color: var(--white);
}
.info__subtitle {
  font-family: "Futura-light";
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
  margin: 16px 0 60px 0;
}
.info__inputs {
  width: 386px;
  border-bottom: 1px solid var(--white);
  display: flex;
  justify-content: space-between;
}
.info__inputs input {
  width: 360px;
  background-color: var(--2727);
  font-family: "Futura-light";
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
  margin-bottom: 8px;
}
.info__inputs input::-moz-placeholder {
  font-family: "Futura-light";
  font-size: 18px;
  line-height: var(--line-height);
  color: rgba(255, 255, 255, 0.4);
}
.info__inputs input:-ms-input-placeholder {
  font-family: "Futura-light";
  font-size: 18px;
  line-height: var(--line-height);
  color: rgba(255, 255, 255, 0.4);
}
.info__inputs input::placeholder {
  font-family: "Futura-light";
  font-size: 18px;
  line-height: var(--line-height);
  color: rgba(255, 255, 255, 0.4);
}
.info__inputs button {
  background-color: var(--2727);
  margin-bottom: 3px;
}

.location__point {
  position: absolute;
  left: 13%;
  top: 25.5%;
  cursor: pointer;
}
.location__point img:hover {
  background-image: url(../img/selected\ point\ map.svg);
}
.location__point p {
  position: absolute;
  width: 165px;
  height: 43px;
  left: 90%;
  top: -79%;
  background: rgba(103, 103, 103, 0.58);
  border-radius: 2px;
  font-family: "Futura-light";
  padding: 8px;
  text-align: center;
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
}
.location__point2 {
  position: absolute;
  left: 36.8%;
  top: 30%;
  cursor: pointer;
}
.location__point2 img:hover {
  background-image: url(../img/selected\ point\ map.svg);
}
.location__point2 p {
  position: absolute;
  width: 134px;
  height: 43px;
  left: 90%;
  top: -79%;
  background: rgba(103, 103, 103, 0.58);
  border-radius: 2px;
  font-family: "Futura-light";
  padding: 8px;
  text-align: center;
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
}
.location__point3 {
  position: absolute;
  left: 37%;
  top: 68%;
  cursor: pointer;
}
.location__point3 img:hover {
  background: url(../img/selected\ point\ map.svg);
}
.location__point3 p {
  position: absolute;
  width: 134px;
  height: 43px;
  left: 90%;
  top: -79%;
  background: rgba(103, 103, 103, 0.58);
  border-radius: 2px;
  font-family: "Futura-light";
  padding: 8px;
  text-align: center;
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
}
.location__point4 {
  position: absolute;
  left: 51.7%;
  top: 39%;
  cursor: pointer;
}
.location__point4 img:hover {
  background-image: url(../img/selected\ point\ map.svg);
}
.location__point4 p {
  position: absolute;
  width: 170px;
  height: 43px;
  left: 90%;
  top: -79%;
  background: rgba(103, 103, 103, 0.58);
  border-radius: 2px;
  font-family: "Futura-light";
  padding: 8px;
  text-align: center;
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
}
.location__point5 {
  position: absolute;
  left: 65.4%;
  top: 60.4%;
  cursor: pointer;
}
.location__point5 img:hover {
  background-image: url(../img/selected\ point\ map.svg);
}
.location__point5 p {
  position: absolute;
  width: 200px;
  height: 43px;
  left: 90%;
  top: -79%;
  background: rgba(103, 103, 103, 0.58);
  border-radius: 2px;
  font-family: "Futura-light";
  padding: 8px;
  text-align: center;
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
}

.point {
  opacity: 0;
  transition: 1s;
  -webkit-animation: showPoint 0.5s 1;
          animation: showPoint 0.5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes showPoint {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showPoint {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.products {
  display: flex;
  margin-bottom: 20px;
}
.products__rings {
  display: flex;
  flex-direction: column;
}
.products__necklace {
  background: url(../img/necklace.png) 50%/cover no-repeat;
  margin: 0 10px;
  width: 823px;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.products__necklace:hover {
  opacity: 0.7;
}
.products__earrings {
  display: flex;
  flex-direction: column;
}

.rings__silver {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 400px;
  margin-bottom: 20px;
  cursor: pointer;
}
.rings__silver:hover {
  opacity: 0.7;
}
.rings__silver img {
  max-width: 100%;
  margin-bottom: 70px;
}
.rings__gold {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 400px;
  cursor: pointer;
}
.rings__gold:hover {
  opacity: 0.7;
}
.rings__gold img {
  max-width: 100%;
  margin-bottom: 70px;
}

.silver__title {
  color: var(--2727);
}
.silver__subtitle {
  color: #757575;
}
.silver__price {
  color: #E2B67A;
}

.silver-container {
  width: 310px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.gold__title {
  color: var(--2727);
}
.gold__subtitle {
  color: #757575;
}
.gold__price {
  color: #E2B67A;
}

.gold-container {
  width: 310px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.necklace__subtitle {
  color: #E7E7E7;
}
.necklace__price {
  margin-bottom: 34px;
}

.necklace-container {
  width: 500px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.earrings__moon {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 400px;
  margin-bottom: 20px;
  cursor: pointer;
}
.earrings__moon:hover {
  opacity: 0.7;
}
.earrings__moon img {
  max-width: 100%;
  margin-top: -75px;
}
.earrings__win {
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 400px;
  cursor: pointer;
}
.earrings__win:hover {
  opacity: 0.7;
}
.earrings__win img {
  max-width: 100%;
  margin-top: -75px;
}

.moon__title {
  color: var(--2727);
}
.moon__subtitle {
  color: #757575;
}
.moon__price {
  color: #E2B67A;
}

.moon-container {
  width: 310px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.win__title {
  color: var(--2727);
}
.win__subtitle {
  color: #757575;
}
.win__price {
  color: #E2B67A;
}

.win-container {
  width: 310px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sliderpage {
  background-color: var(--2727);
}
.sliderpage__title {
  width: 515px;
  padding-top: 100px;
  margin: 0 0 80px 162px;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: 0.03em;
  color: var(--white);
}
.sliderpage__slider {
  overflow: hidden;
}
.sliderpage__down {
  width: 1116px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.sliderpage-slider-container {
  display: flex;
  position: relative;
  left: 0;
  transition-duration: 0.3s;
}

.slider__item {
  margin: 0 20px;
}
.slider__item img {
  display: block;
}

.down__social {
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin: 83px 0 103px 0;
}
.down__pagination {
  width: 335px;
  display: flex;
  justify-content: space-between;
  margin: 83px 0 103px 0;
}
.down__pagination button {
  background-color: var(--2727);
}

.pagination__prev._disabled {
  opacity: 0.2;
}

.social__facebook {
  transition-duration: 0.3s;
}
.social__facebook:hover {
  transform: scale(120%);
  transition-duration: 0.3s;
}
.social__instagram {
  transition-duration: 0.3s;
}
.social__instagram:hover {
  transform: scale(120%);
  transition-duration: 0.3s;
}

.pagination__dots {
  display: flex;
  width: 125px;
  align-items: center;
  justify-content: space-between;
}

.dots {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #656565;
}

.dots._active {
  width: 9px;
  height: 9px;
  background: var(--white);
}

.title1 {
  font-family: "Futura-medium";
  font-size: 18px;
  line-height: var(--line-height);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--2727);
}

.contacts {
  display: flex;
  align-items: center;
  height: 640px;
}
.contacts__info {
  width: 1100px;
}

.container-info {
  width: 390px;
  margin: 0px auto;
}

.info__column {
  display: flex;
  height: 350px;
  flex-direction: column;
  justify-content: space-between;
}

.column__phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}
.column__email {
  height: 80px;
}
.column__email button {
  background-color: transparent;
}

.phone__number a {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
  transition-duration: 0.4s;
}
.phone__number a:hover {
  color: var(--2727);
  transition-duration: 0.4s;
}

.email__input {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin-top: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--2727);
}
.email__input input {
  font-family: "Futura-medium";
  width: 245px;
  font-size: 22px;
  line-height: var(--line-height);
  color: var(--2727);
}
.email__input ::-moz-placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}
.email__input :-ms-input-placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}
.email__input ::placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}

.title2 {
  font-family: "Futura-medium";
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 15px;
}

.footer {
  background-color: var(--2727);
}
.footer__down {
  display: flex;
  justify-content: space-between;
  padding-bottom: 90px;
}

.container-footer {
  width: 1120px;
  margin: 0px auto;
}

.up__menu {
  padding: 80px 0 90px 0;
  display: flex;
  justify-content: space-between;
}
.up__menu a {
  font-family: "Futura-premedium";
  font-size: 14px;
  line-height: var(--line-height);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  transition-duration: 0.3s;
}
.up__menu a:hover {
  color: black;
  transition-duration: 0.3s;
}

.down__logo {
  display: flex;
  align-items: center;
}
.down__infolink {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.infolink__info {
  display: flex;
  flex-direction: column;
}
.infolink__info a {
  margin-top: 5px;
  font-family: "Futura-light";
  font-size: 18px;
  line-height: var(--line-height);
  color: #C2C2C2;
}
.inputApp__input {
  display: flex;
  width: 275px;
  border-bottom: 1px solid var(--white);
}
.inputApp__input button {
  margin-bottom: 2px;
  background-color: var(--2727);
}
.inputApp__input button img {
  width: 30px;
  height: 17px;
}
.inputApp__input input {
  background-color: var(--2727);
  font-family: "Futura-light";
  width: 245px;
  font-size: 18px;
  line-height: var(--line-height);
  color: var(--white);
  margin-bottom: 8px;
}
.inputApp__input input::-moz-placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}
.inputApp__input input:-ms-input-placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}
.inputApp__input input::placeholder {
  font-family: "Futura-light";
  font-size: 22px;
  line-height: var(--line-height);
  color: #959595;
}
.inputApp__links {
  margin-top: 20px;
}
.inputApp__links img {
  width: 103px;
  height: 35px;
  transition-duration: 0.3s;
}
.inputApp__links img:hover {
  transform: scale(120%);
  transition-duration: 0.3s;
}

.info__webs {
  width: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.info__webs a {
  transition-duration: 0.3s;
}
.info__webs a:hover {
  transform: scale(120%);
  transition-duration: 0.3s;
}

@media (max-width: 1250px) {
  .ring {
    left: 60%;
  }
  .for__men {
    width: 550px;
  }
  .for__women {
    width: 550px;
  }
}
@media (min-width: 1251px) {
  .for__men {
    width: 570px;
  }
  .for__women {
    width: 570px;
  }
}
@media (min-width: 1300px) {
  .for__men {
    width: 600px;
  }
  .for__women {
    width: 600px;
  }
}
@media (min-width: 1370px) {
  .for__men {
    width: 600px;
  }
  .for__women {
    width: 600px;
  }
}
@media (min-width: 1415px) {
  .for__men {
    width: 675px;
  }
  .for__women {
    width: 675px;
  }
}
@media (min-width: 1530px) {
  .ring {
    left: 60%;
  }
  .for__men {
    width: 750px;
  }
  .for__women {
    width: 750px;
  }
}
@media (min-width: 1660px) {
  .for__men {
    width: 800px;
  }
  .for__women {
    width: 800px;
  }
}
@media (min-width: 1750px) {
  .for__men {
    width: 850px;
  }
  .for__women {
    width: 850px;
  }
}